@layer base {
  :root {
    --font-primary: "Inter", sans-serif;
    --font-space: "Space Mono", monospace;
    --font-size-base: 14px;
    
    --primary-blue: 51, 122, 183;
    --secondary-blue: 30, 88, 133;
    --paled-blue: 120, 166, 206;
    --neat-blue: 30, 136, 229;

    --primary-dark: 0, 0, 0;
    --secondary-dark: 121, 121, 121;
    --paled-dark: 209, 213, 219;

    --primary-white: 255, 255, 255;
    --snow-white: 248 248 250;
    --secondary-white: 212, 212, 212;
    --white-neutral: 241, 241, 241;

    --primary-red: 217, 83, 79;
    --primary-green: 92, 184, 92;
    --primary-yellow: 255, 152, 0;
    --primary-purple: 156, 39, 176;

    --jazzberry-jam: 178, 61, 95;
    --ruby: 236, 83, 134;
    --cotton-candy: 249, 195, 211;
    --thistie: 255, 199, 234;
    --dark-orchid: 166, 56, 193;
    --indigo: 100, 47, 149;
    --deep-purple: 96, 58, 137;
    --purple: 173, 43, 255;
    --blue: 81, 50, 255;
    --light-blue: 31, 137, 230;
    --primary-orange: 255, 153, 0;
    --primary-brown: 141, 93, 59;

    --unused-components: 250, 250, 210;

    --gradient-sider: linear-gradient(
      rgb(25, 57, 138) 0%,
      rgb(81, 145, 205) 75%
    );
    --gradient-header: linear-gradient(
      90deg,
      rgb(25, 57, 138) 0%,
      rgb(81, 145, 205) 49.83%,
      rgb(25, 57, 138) 100%
    );
    --gradient-chatbot: linear-gradient(
    to bottom,
    rgb(152, 166, 200) 0%,
    rgb(239, 239, 243) 49.83%
);
    --radius: 0.2rem;
  }
}
